body {
	margin: 0 auto;
	background-color: lightgrey;
}

.logo {
	float: left;
	background-repeat: no-repeat;
	display: block;
	

}

header {
	position: absolute;
	height: 100px;
	width: 1170px;
	z-index: 1;
}


header ul {
	margin: 30px;
}

header ul li {
	float: right;
	display: inline-block;
	margin: 6px 2px;
}

header ul li a {
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	padding: 0px 57px;
	font-weight: bold;
	font-size: 16px;
}

h3 {
	margin: 10px;
}

a:hover {
	text-decoration: none;
	color: orange;
}

.navigation {
	background-color: rgba(244, 235, 212,0.5);
	z-index: 1;
}

.layer1 h3:hover + span {
	display: block;
}

.layer1 span {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	display: none;
	background-color: rgba(0,0,0, 0.5);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0px -45px;
	padding: 10px 40px; 
}
}

.headerClass {
	background-color: rgba(255, 255, 255, 0.3);
}

.slider {
	position: relative;
}

.slider img{
	height: 500px;
	width: 100%;
	
}

.layer1 {
	position: absolute;
	top: 230px;
	left: 150px;
	z-index: 1;
	color: white;
	background-color: rgba(0,0,0, 0.5);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0px -45px;
	padding: 10px 40px; 
}

.layer2 {
	background-image: url("../img/sea.jpg");
	width: 100%;
	padding-bottom: 50px;
	min-height: 500px;
	background-position: center;

}

.layer2 h1 {
	margin: 0px;
	padding: 75px 0px;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	color: white;
}

.l2photo {
  display: block;
  border-radius: 50%;
  max-width: 100%;
}

.l2photo-background {
  padding: 0 20px;
  position: relative;

}

.l2photo-background img {
	width: 500px;
	height: 215px;
	position: relative;
}

.l2photo-background h4 {
	position: absolute;
	color: white;
	left: 84px;
	top: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

.layer3 {
	background-color: #1397dd;
}

.layer3 h1 {
	margin: 0px;
	padding: 60px 0px;
	color: white;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
}

.l3photo {
  display: block;
  max-width: 100%;
  position: relative;
}

.l3photo-background {
	background-color: white;
	margin: 0px 40px 30px 40px;
	font-family: 'Open Sans', sans-serif;
}

.l3photo-background h3 {
	text-align: center;
	margin-top: 40px;
}

.l3photo-background p {
	text-align: center;
	margin: 20px;
	padding-bottom: 50px;
	line-height: 1.5em;
}

.l3price {
	background-color: #3c82f2;
	color: white;
	padding: 10px 20px;
	position: absolute;
	top: 174px;
	left: 132px;
}

.l3photo-background strong {
	font-size: 20px;
}

.footeR {
	margin: 0px;
	background-color: white;
	padding: 25px 0px;
	font-family: 'Open Sans', sans-serif;	
}

.fa.fa-facebook-square {
	font-size: 25px;
	color: orange;
	margin-right: 5px;
}

.fa.fa-twitter-square {
	font-size: 25px;
	color: orange;
	margin-right: 5px;
}

.fa.fa-instagram {
	font-size: 25px;
	color: orange;
	margin-right: 5px;
}

.fa.fa-linkedin-square {
	font-size: 25px;
	color: orange;
	margin-right: 5px;
}

footer h2 {
	font-size: 20px;
}

footer p {
	font-size: 12px;
	line-height: 1.5em;
}

.coppyright {
	background-color: white;
	text-align: center;
	padding: 5px 0px;
}

h6 {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

.logReg {
	margin-top: 120px;
}

.forms {
	margin-top: 115px;
	margin-bottom: 50px;
}

.indexx {
	font-family: 'Open Sans', sans-serif;
	margin: 0px 99px;
}